@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

a {
    text-decoration: none;
    color: orange;
}
.title {
    text-decoration: none;
    color: #fff;
}
body {
    font-family: "Roboto Mono", monospace;
    max-width: 920px;
    display: flex;
    flex-direction: column;
    color: #fff;
    height: 96vh;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    text-align: left;
    line-height: 23px;
}
main {
    margin-bottom: 1rem;
    padding: 1rem;
}

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.abstract {
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
}
main h1 {
    text-align: center;
}
nav ul {
    display: flex;
    width: 350px;
    padding: 0%;
    margin-left: 50%;
    margin-right: 50%;
    align-items: center;
    justify-content: space-between;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: lightseagreen;
}
hr {
    opacity: 0;
}
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 5px;
    margin-right: auto;
}
img[alt="pfp"] {
    max-width: 300px;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
figcaption {
    opacity: 0;
}
